.navibtn {
    color:red !important;
    height: 70px;
    width: 70px;
    margin: 10px !important;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0;
    bottom:0px;
}

.navibtn .x-button-label {
    margin-top: 50px;
}

.navibar {
    background-color: transparent !important;
    background-image: url(/assets/bh/images/bkh.jpg) !important;
    background-repeat: repeat-x;
    background-position: bottom;
}

.main {
    background-color: snow !important;
}

 .topalign .x-inner {
    vertical-align:top;
    display: inline-block;
}

.logo {
    background-image: url(/assets/bh/images/ultra.png) !important;
    visibility: hidden;
    height: 80px;
}

.logotop {
    background-image: url(/assets/bh/images/ultra.png) !important;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0;
    bottom:0px;
}

.topbar {
    height: 90px;
    background-color: lavender;
}


@media only screen and (orientation: landscape) {

    .landscape-visible {
        visibility: visible;
    }

    .landscape-hidden {
        visibility: hidden;
        width: 0px;
    }

    .navibar {
        background-image: url(/assets/bh/images/bkv.jpg) !important;
        background-repeat: repeat-y;
        background-position: left;
    }

    .imgbtn {
        color: darkgreen;
    }
}

@media only screen and (min-width: 1025px) {

    .navibtn-big {
        height: 120px;
        width: 120px;
    }

    .navibtn-big .x-button-label {
        margin-top: 90px;
    }

    .i1 {
        background-image: url(/assets/bh/images/a.jpg) !important;
    }

    .i2 {
        background-image: url(/assets/bh/images/b.jpg) !important;
    }

    .i3 {
        background-image: url(/assets/bh/images/c.jpg) !important;
    }

    .i4 {
        background-image: url(/assets/bh/images/a.jpg) !important;
    }

}

@media only screen and (max-width: 1024px) {

    .i1 {
        background-image: url(/assets/bh/images/a.png) !important;
    }

    .i2 {
        background-image: url(/assets/bh/images/b.png) !important;
    }

    .i3 {
        background-image: url(/assets/bh/images/c.png) !important;
    }

    .i4 {
        background-image: url(/assets/bh/images/a.png) !important;
    }
}